# Twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxx
TWILIO_VERIFY_SERVICE_SID=VAxxxxxxxx

# Google Sheets
GOOGLE_CLIENT_EMAIL=invite@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
INVITEE_SPREADSHEET_ID=1Bxi...
RSVP_SPREADSHEET_ID=1Bxi...

# App
NEXT_PUBLIC_APP_URL=https://your-domain.vercel.app
